.content{
	margin: 0 auto;
	margin-top: 20px;
    width: 1170px;
   
}
.content .list{
	float: left;
	width: 800px;
	min-height: 500px;
}
.list .list-navi{
	border-bottom: 2px solid #34A9B1;
	padding-bottom: 10px;
	margin-top: 10px;
}
.list .list-navi > span{
	font-size: 25px;
	color: #006372;
	
}
.list .list-navi > span > img{
	position: relative;
	top:2px;
}
.list .list-content{
	margin-top: 20px;
	margin-bottom: 40px;
}
.list .list-content >ul >li{
	list-style-type: none;
	margin-top:10px ;
	font-size: 16px;
	border-bottom:1px dashed #CCCCCC ;
	padding-bottom:10px ;
}
.list .list-content >ul >li >span{
	color: #666666;
}
.list .list-content >ul >li >a{
	color: #34A9B1;
	margin-left: 20px;
	text-decoration: none;
	
}
.list .list-content >ul >li >a:hover{
	color: #EF9722;
}
.content .hot{
	float: left;
	margin-left: 40px;
}
.hot .hot-navi{
	border-bottom: 2px solid #349D96;
	padding-bottom: 10px;
	width: 330px;
}
.hot .hot-navi > .img-span{
	display: inline-block;	
	background: #34A9B1;
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 6px;
	padding-top: 6px;
	padding-right: 6px;
}
.hot-navi > .span{
	display: inline-block;
	color: #006372;
	margin-left: 10px;
	font-size: 18px;
	position: relative;
	top: -10px;
}
 .hot-content{
 	margin-top: 20px;
 	border-bottom: 1px solid #EAEAEA;
 	padding-bottom: 20px;
 }
.hot-content .hot-content-sum span{
	color: #666666;
	margin-left: 10px;
	font-size: 14px;
}

.hot-content .hot-content-sum span >a:hover{
	color: #EF9722;
}
.hot-content .hot-content-sum img{
	display: inline-block;
	position: relative;
	top: 2px;
}
.hot-content .hot-news-detail{
	display: block;
	margin-top: 10px;
	color: #444444;
	width: 330px;
}
.hot-content .hot-news-detail >a{
	color: #444444;
	text-decoration: none;
}
.hot-content .hot-news-detail >a:hover{
	color: #EF9722;
}

.headmaster-navi{
	width:860px;
}
.headmaster-content{
	width:860px;
	
}
.headmaster-info{
	margin-top:20px;
	width:400px;
	float:left;
	margin-bottom:20px;
}
.headmaster-info:nth-of-type(even) {
	float:right;
}
.headmaster-info  >img{
	float:left;
	width:124px;
	height:200px;
}
.headmaster-info > .headmaster-info-right{

	position:relative;
	left:20px;
	color:#444444;
	overflow: hidden;
}
.headmaster-info >.headmaster-info-right  > div:not(:first-child){
	margin-top:10px;
}
.headmaster-info >.headmaster-info-right  > div > span:first-child{
	color:#999999;
}

.headmaster-info >.headmaster-info-right  > div > a{
	color:#444444;
}
.headmaster-info >.headmaster-info-right  > div > a:hover{
	color:#EF9722;
	text-decoration: underline;	
}

.headmaster-info >.headmaster-info-right  > div > a >img{
	position: relative;
	top:5px;
	margin-right:4px;
}
