@CHARSET "UTF-8";
.content-wrapper{
	
	margin:0 auto;
	width:1170px;
	height: 200px;
	position: relative;
}
.content-wrapper span{
	background-color: #006269;
	color: white;
	font-size:30px;
	height: 50px;
	min-width:128px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	left:0;
	bottom:0;
	position:absolute;
	opacity: 0.8;
}
/*位置导航*/
.content-location{
	margin:30px auto;
	width:1170px;
}
.content-location a{
	color:#444444;
	text-decoration: none;
}
.content-location span{
	color:#444444;
	bottom: 10px;
	position: relative;
}
.content-location span a:hover{
	color: #EF9722;
	text-decoration: underline;
}

.trends-top{
	border-top:1px dashed #CCCCCC;
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom: 5px;
	
}
.trends-top img{
	position: relative;
	top:5px;
}
.trends-top .tag-ch{
	color:#006372;
	font-size: 27px;
	margin-left: 5px;
}

/* c */
.content{
	width:1170px;
	margin:0  auto;
}
/* Tabs */


.tab-container{
	margin-top:20px;
	margin-bottom:140px;
	width:200px;
	float:left;
}


.tab-container > div > a {
	text-decoration: none;
	color: #444444;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1px;
	background: #F1F1F1; 
	padding: 20px 55px;
	padding-bottom:26px;
	width: 50px;
	height: 10px;
}


.table-content-div{
	margin-top:20px;
	float:left;
	opacity: 0.9;
}
.table-content-div .tab-content { 
	overflow:hidden;
	background: #f1f1f1;
	padding: 20px;
	outline: 2px dashed #CCCCCC;
	outline-offset: -8px; 
	min-height: 250px; 
	width: 600px;
	

}

.js-load-a{
	color: #FFFFFF !important;
	background: #006372 !important; 
	width: 45px !important;
	height: 10px;
    border-left: 5px solid #ff6600;
    
}

.tab-content  .grade-span{
	color:#888888;
	width:100%;
	display: block;
	border-bottom:1px dashed #999999; 
}
.tab-content  .grade-span >b{
	display: inline-block;
    position:relative;
    top:-10px;
	margin-left:5px;
	
}
.tab-content .content-list{
	margin-top:10px;
	width:435px;
}
.tab-content .content-list >span{
   margin-left:10px;
   margin-top:10px;
   display: inline-table;
}
.tab-content .content-list >span >a{
	color:#444444;
	text-decoration: none;
}
.tab-content .content-list >span >a:hover{
	color:#EE9620;
	text-decoration: underline;
}
.tab-content .content-list >span >img{
	position: relative;
	top:4px;
}