<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  
    1. 配置 SecurityManager!
    -->     
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="authenticator" ref="authenticator"></property>
        <!--多realms配置-->
		<property name="realms">
		<list>
		   <ref bean="jdbcRealm"/>
		</list>
		</property>
     
    </bean>
	<!-- 数据库保存的密码是使用MD5算法加密的，所以这里需要配置一个密码匹配对象 -->
	<!-- 此方法已废弃 <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.Md5CredentialsMatcher"/> -->
	<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
	     <property value="MD5" name="hashAlgorithmName"/>
	     <property name="hashIterations" value="1024"></property>
	</bean>
    <!--  
    2. 配置 CacheManager. 
    2.1 需要加入 ehcache 的 jar 包及配置文件. 
    -->     
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">

        <property name="cacheManagerConfigFile" value="classpath:config/ehcache.xml"/> 
    </bean>
    
    <bean id="authenticator" 
    	class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
    	<property name="authenticationStrategy">
    		<bean class="org.apache.shiro.authc.pam.AtLeastOneSuccessfulStrategy"></bean>
    	</property>
    </bean>

    <!-- 
    	3. 配置 Realm 
    -->     
    <bean id="jdbcRealm" class="com.primaryschool.admin.realm.MyRealm">
    	<property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    
    
    <!--  
    4. 配置 LifecycleBeanPostProcessor. 可以自定的来调用配置在 Spring IOC 容器中 shiro bean 的生命周期方法. 
    -->       
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!--  
    5. 启用 IOC 容器中使用 shiro 的注解. 但必须在配置了 LifecycleBeanPostProcessor 之后才可以使用. 
    -->     
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


<!--   <bean id="chainDefinitionSectionMetaSource"  class="com.han.factory.ChainDefinitionSectionMetaSource">  
  
     <property name="filterChainDefinitions">  
        <value>  
             /han/showlogin = anon
             /han/login = anon
             /han/logout = logout
        </value>  
    </property>  
   </bean>   -->

    <!--  
    6. 配置 ShiroFilter. 
    6.1 id 必须和 web.xml 文件中配置的 DelegatingFilterProxy 的 <filter-name> 一致.
                      若不一致, 则会抛出: NoSuchBeanDefinitionException. 因为 Shiro 会来 IOC 容器中查找和 <filter-name> 名字对应的 filter bean.
    -->     
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/admin/loginRegister/showTeaLogin"/>
        <property name="unauthorizedUrl" value="/admin/loginRegister/unauthorized"/>
        
        
        <!-- 添加各种验证过滤器 -->  
        <property name="filters">  
            <map>  
                <entry key="roleOrFilter" value-ref="roleOrFilter"/>  
            </map>  
        </property>
        
        <!-- shiro连接约束配置,在这里使用自定义的动态获取资源类 -->  
       <property name="filterChainDefinitionMap" ref="filterChainDefinitionMap" />  
   
        <!--  
        	配置哪些页面需要受保护. 
        	以及访问这些页面需要的权限. 
        	1). anon 可以被匿名访问
        	2). authc 必须认证(即登录)后才可能访问的页面. 
        	3). logout 登出.
        	4). roles 角色过滤器
        -->
         
        <!--  <property name="filterChainDefinitions">
            <value>
                /han/showlogin = anon
                /han/login = anon
                /han/logout = logout
                
                /admin/**=authc
				/student=roles[teacher]
				/teacher=perms["user:create"]
                # everything else requires authentication:
                /** = authc
            </value>
        </property>  --> 
         
    </bean>
    
   <!-- 配置一个 bean, 该 bean 实际上是一个 Map. 通过实例工厂方法的方式 -->
   <bean id="filterChainDefinitionMap" 
    	factory-bean="filterChainDefinitionMapBuilder" factory-method="buildFilterChainDefinitionMap"></bean>
    
    <bean id="filterChainDefinitionMapBuilder"
    	class="com.primaryschool.admin.factory.FilterChainDefinitionMapBuilder"></bean>
     
    <!-- 自定义的过滤器，用来判断当前用户是否是roleOrFilter["comm,test"]中的某个角色 -->  
    <bean id="roleOrFilter" class="com.primaryschool.admin.filter.CustomRolesAuthorizationFilter" />  

</beans>
