/*表头*/

/*报名内容，包括学生基本信息和监护人基本信息*/
.applybody-content-tab{
	margin: 0 auto;
	width:1170px;
	min-height:700px;
	margin-top:30px;
	border: 8px solid #006666;
	margin-bottom:100px;
	
}


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Hides from IE-mac \*/

* html .clearfix {height: 1%;}

/* End hide from IE-mac */

.applybody-content-tab a{
	text-decoration: none;
	color:#666666;
}

.applybody-content-tab a:hover{
	cursor:pointer;
	color:#EF9722;
}
.applybody-content-tab input[type=text]{
	width:300px;
	display: block;
	height:25px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	height:30px;
	padding-left:5px;
}
.applybody-content-tab input:focus{
	border:1px solid #2188FF;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    box-shadow:0 0 10px rgba(0, 204, 204, .5);  
}

/*招生信息表表头*/
.applybody-content-tab-top{
	display: block;
	height:40px;
	font-size: 32px;
	text-align: center;
	padding-bottom: 10px;
	background-color: #006666;
	color:#FFFFFF;
}
/*报名内容中的学生基本信息部分*/
.applybody-content-tab-basicMes{
	float: left;
	min-height:450px;
	width:550px;
	margin-left: 10px;
	border-right: solid #0066661px;
	
}
/*将学生基本信息部分的span变为块级元素*/
.applybody-content-tab-basicMes span{
	display: block;
	margin-top: 25px;
	text-align: right;
}
.applybody-content-tab-basicMes span > img{
	margin-right: 5px;
}

/*学生基本信息头部*/
.tab-basicMes-top{
	padding-right: 200px;
	color:#34A9B1;
	font-size: 23px;
}
/*学生姓名*/
.tab-basicMes-stuname{
	width:100px;
	float: left;
}
.tab-basicMes-stuname-input{
	float: left;
	margin-left: 30px;
	
}
/*学生性别*/
.tab-basicMes-stusex{
	clear: left;
	float: left;
	width:100px;
}
.tab-basicMes-stusex-input1{
	float: left;
	outline: none;
	margin-top: 25px;
	margin-left: 30px;
	
}
.tab-basicMes-stusex-men{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.tab-basicMes-stusex-input2{
	float: left;
	outline: none;
	margin-top: 25px;
	margin-left: 15px;
	
}
.tab-basicMes-stusex-women{
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

/*民族*/
.tab-basicMes-nation{
	clear: left;
	float: left;
	width: 100px;
}
.tab-basicMes-nation-input{
	float: left;
	margin-left: 30px;
}
/*身份证*/
.tab-basicMes-idnum{
	clear: left;
	float: left;
	width: 100px;
}
.tab-basicMes-idnum-input{
	float: left;
	margin-left: 30px;
}
/*原学校*/
.tab-basicMes-originalsch{
	clear: left;
	float: left;
	width:100px;
}
.tab-basicMes-originalsch-input{
	float: left;
	margin-left: 30px;
}
/*现住址*/
.tab-basicMes-address{
	clear: left;
	float: left;
	width: 100px;

}
.tab-basicMes-address-input{
	float: left;
	margin-left: 30px;
}
/*户籍所在地*/
.tab-basicMes-register{
	clear: left;
	float: left;
	width: 100px;
}
.tab-basicMes-register-input{
	float: left;
	margin-left: 30px;
}
/*报名内容中的监护人信息部分*/
.applybody-contentn-tab-guardianMes{
	
	float:left;
	margin-left: 25px;
	min-height:450px;
	width: 550px;
	border-left: solid #006666 1px;
}
/*将监护人信息部分变为块级元素*/
.applybody-contentn-tab-guardianMes span{
	display: block;
	text-align: right;
	margin-top:25px;
	margin-left:40px;
}
.applybody-contentn-tab-guardianMes span>img{
	margin-right: 5px;
}
.applybody-contentn-tab-guardianMes input{
	display: block;
	margin-top:20px;
}
/*监护人信息部分头部*/
.tab-guardianMes-top{
	padding-right: 170px;
	text-align: center;
	color:#34A9B1;
	font-size: 23px;
	
}
/*父亲姓名*/
.tab-guardianMes-father-name{
	float: left;
	width:110px;
}
.tab-guardianMes-father-name-input{
	float: left;
	margin-left: 30px;
}
/*父亲身份证*/
.tab-guardianMes-father-idnum{
	clear: left;
	float: left;
	width: 110px;
}
.tab-guardianMes-father-idnum-input{
	float: left;
	margin-left: 30px;
}
/*父亲联系方式*/
.tab-guardianMes-father-phonenum{
	clear: left;
	float: left;
	width: 110px;
}
.tab-guardianMes-father-phonenum-input{
	float: left;
	margin-left: 30px;
	
}
/*母亲姓名*/
.tab-guardianMes-mother-name{
	clear: left;
	float: left;
	width:110px;
}
.tab-guardianMes-mother-name-input{
	float: left;
	margin-left: 30px;
}
/*母亲身份证*/
.tab-guardianMes-mother-idnum{
		clear: left;
		float: left;
		width:110px;
}
.tab-guardianMes-mother-idnum-input{
	float: left;
	margin-left: 30px;
}
/*母亲联系方式*/
.tab-guardianMes-mother-phonenum{
		clear: left;
		float: left;
		width: 110px;
}
.tab-guardianMes-mother-phonenum-input{
	float: left;
	margin-left: 30px;
}
/*报名表底部提示部分*/
.tab-message{
	float: left;
	width:1170px;
	height: 35px;
	padding-top: 9px;
	text-align: center;
	border-top: double #006666;
	border-width: 7px;
}

/*提交部分样式*/
.applybody-content-tab-submit{
	float: left;
	width: 1170px;

	padding-top: 7px;
	text-align: center;
	border-top: double #006666;
	border-width: 6px;
}
.applybody-content-tab-submit > button{
	border:1px solid;
	display: block;
	color:#FFFFFF;
	width:100px;
    height:30px;
	margin:0 auto;

	margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
	background-color: #006666;
    border-radius: 3px;
    cursor: pointer;
}
.upload-tips-div {
	margin-top:10px;
}
.upload-tips-div  span{
	float:left;
}
.upload-tips-div a{
	color:#006666;
	position:relative;
	top:25px;
	left:30px;
}
.image-show{
	
	width:200px;
	height:100px;
    position:relative;
    left:50px;
	margin-top:20px;
	margin-bottom:20px;
}

/**弹框**/
.mark{
	display:none;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:20000;
	background: rgba(0,0,0,0.6);
	position:fixed;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.dialog{
	display:none;
	border-radius:6px;
    position: fixed;
    left: 55%;
    top: 40%;
    width: 300px;
    margin:-135px 0 0 -250px;
    background: #fff;
    z-index: 230000;
}
.dialog .dialog-close{
    position: absolute;
    right: 7px;
    top: 10px;
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/close.png") no-repeat;
}
.dialog .dialog-title{
    height: 45px;
	color:#fff;
	border-radius:6px 6px 0px 0px;
    line-height: 45px;
    text-indent: 15px;
    background: #34A9B1;
    text-decoration: 
}
.dialog .dialog-content{
    padding:38px 20px;
    font-size: 14px;
    min-height:100px;
}
.opt-div{
	margin-bottom:20px;
}
.dialog-link{
	margin-top:20px;
	margin-left:30px;
}

.start-upload, .clean-queue{
	border: 1px solid #FFFFFF;
	height: 30px;	
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	margin-left:12px;
	text-decoration:none;
}
.start-upload{
	background:#0088CC;
	padding:5px;
	
}
 .clean-queue{
 color:#444444 !important;
 }
.rest{
	width:970px;
	margin:50px  auto;
}
 .rest-spring,.rest-autumn{
 	min-height:200px;
 	padding:20px;
 	width:400px;
 	background-color:white;
 	border-radius:5px;
 }
 .rest-spring{
 	float:left;
 }
 .rest-autumn{
 	float:right;
 }
 
 .rest-content{
 	margin-top:10px;
 	padding-top:5px;
 	border-top: 1px dashed #cccccc; 
 }
  
 .rest-content a{
 	color:#444444;
 	margin:5px 0;
 	text-decoration: none;
 }
 .rest-content a:hover{
 	color:#ef9722;
 	text-decoration: underline;
 }
 .only-info .only-select{
    width: 45px;
    height: 25px;
    padding-left:5px;
 }
.rest-selects,.rest-select{
 	width: 45px;
    height: 25px;
    padding-left:5px;
    color: #FFFFFF;
    text-decoration:none;
    float:right;
    background-color: #467B96;
    border-radius: 5px;
    border: 1px solid;
 }

.rest-selects:hover,.rest-select:hover{
	width: 45px;
    height: 25px;
    padding-left:5px;
    color: #FFFFFF;
    text-decoration:none;
    background-color: #1A5D7E;
    border-radius: 5px;
    float: right;
}

/**协议**/


.modalDialog {
	position: fixed;
	display:none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	overflow: scroll;
}

.modalDialog > div {
	width: 700px;
	position: relative;
	margin: 7% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #FFFFFF;
	
}
.modalDialog .openModal-title{
	display:inline-block;
	font-size:20px;
	padding-bottom:10px;
}
.modalDialog .openModal-agreement{
	margin-top:10px;
	width:700px;	
	border-top:1px solid #ccc;
	color:#666666;
	font-size:15px;
	
}
.modalDialog  .agreement-content{
	margin-top:20px;
}

.close {
	background: #606061;
	color: #FFFFFF; 
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { background: #0F88EB; }

.no-allow{
	color:#666666 !important;
	background:#CCCCCC !important;
	cursor:not-allowed !important;
}