.navi-info{
	width:1170px;
	margin:0 auto;
	margin-top:20px;
	border-bottom: 1px solid #34A9B1;
	padding-bottom:10px;
}
.navi-info img{
	position: relative;
	top:10px;
}
.navi-info a{
	text-decoration: none;
	display: inline-block;
	width:100px;
	height:30px;
	text-align:center;
	padding-top:5px;
	background:#006372;
	color:#FFFFFF;
	border-radius: 3px;
	margin-left:10px;
}
.navi-info .time{
	display:inline-block;
	color:#444444;
    margin-left:300px;
}
.logout{
	float:right;
	position: relative;
	top:10px;
}
