@CHARSET "UTF-8";
#location{
	 margin: 80px auto 10px;
     width: 70%;
}
#location a{
	text-decoration: none;
}
#location a:hover{
	color:#EE9621;
	text-decoration: underline;
}
.operation{
	width:870px;
	margin:10px  auto;
}
.operation_input{
    margin-top: 10px;
    float: left;
}
.operation ul{
    padding: 0;
    list-style-type: none;
}
.operation ul li{
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}
.operation ul li a, .operation ul li a:visited{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 60px;height: 25px;
    border-radius: 3px;
    line-height: 25px;
    background-color: #D6D6D6;
    font-size: 14px;
    color: #000000;
}
.operation ul li ul{
    display: none;
    margin-top: -7px;
    margin-left: -5px;
}
.operation ul li:hover ul{
    display: block;
    position: absolute;
    top: 31px;
    left: 0px
}
.operation ul li:hover ul li a{
    display: block;
    background-color: gainsboro;
    color: #000;
}
.operation ul li:hover ul li a:hover{
    background: #dfc184;
    color: #000;
}

.new_button{
    width: 50px;
    height: 30px;
    color: #FFFFFF;
    background-color: #467B96;
    border-radius: 5px;
    float: right;
    border: 1px solid;
    cursor: pointer;
}
.new_text{
    width: 200px;height: 25px;
    float: right;
    border: 1px solid #D9D9D6;
    padding-left: 5px;
}
/**contents**/
.contents{
	width:870px;
	margin:10px  auto;
	
}
/**综合实验课**/
.contents .class-list{
	margin-top:40px;
	padding:10px;
	width:850px;
	outline: 2px dashed #CCCCCC;
	outline-offset: -8px;
	
}
.contents .class-list > span{
	display:inline-block;
	margin-top:20px;
}
.contents .class-list > span:not(even){
	margin-left:30px;
}
.contents .class-list > span >a{
	color:#666666;
	text-decoration:none;
    font-size:18px;
}
.contents .class-list > span >a:hover{
	color:#EE9621;
	text-decoration: underline;
}
/**教学资源**/
.teachingresource , .tresource{
	width:870px;
	margin:50px  auto;
}
.teachingresource{
	padding:25px;
	min-height:150px;
	outline: 2px dashed #CCCCCC;
	outline-offset: -8px;
}
.teachingresource >span{
   margin-left:10px;
   margin-top:10px;
   display: inline-table;
}
.teachingresource >span >a{
	color:#444444;
	text-decoration: none;
}
.teachingresource >span >a:hover{
	color:#EE9620;
	text-decoration: underline;
}
/**班级主页**/
.scontent{
	width:870px;
	margin:50px  auto;
}
#select-grade{
    width: 100px;height: 25px;
    float: right;
    border: 1px solid #D9D9D6;
    margin:0 5px;
}

/**弹框**/
.mark{
	display:none;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:20;
	background: rgba(0,0,0,0.6);
	position:fixed;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.dialog{
	display:none;
	border-radius:6px;
    position: fixed;
    left: 55%;
    top: 40%;
    width: 300px;
    margin:-135px 0 0 -250px;
    background: #fff;
    z-index: 23;
}
.dialog .dialog-close{
    position: absolute;
    right: 7px;
    top: 10px;
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/close.png") no-repeat;
}
.dialog .dialog-title{
    height: 45px;
	color:#fff;
	border-radius:6px 6px 0px 0px;
    line-height: 45px;
    text-indent: 15px;
    background: #0F88EB;
}
.dialog .dialog-content{
    padding:38px 20px;
    font-size: 14px;
    min-height:100px;
}
.opt-div{
	margin-bottom:20px;
}
.dialog-link{
	margin-top:20px;
	margin-left:30px;
}

.start-upload, .clean-queue{
	border: 1px solid #FFFFFF;
	height: 30px;	
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	margin-left:12px;
	text-decoration:none;
}
.start-upload{
	background:#0088CC;
}
 .clean-queue{
 color:#444444 !important;
 }
.rest{
	width:970px;
	margin:50px  auto;
}
 .rest-spring,.rest-autumn{
 	min-height:200px;
 	padding:20px;
 	width:400px;
 	background-color:white;
 	border-radius:5px;
 }
 .rest-spring{
 	float:left;
 }
 .rest-autumn{
 	float:right;
 }
 
 .rest-content{
 	margin-top:10px;
 	padding-top:5px;
 	border-top: 1px dashed #cccccc; 
 }
  
 .rest-content a{
 	color:#444444;
 	margin:5px 0;
 	text-decoration: none;
 }
 .rest-content a:hover{
 	color:#ef9722;
 	text-decoration: underline;
 }
 .only-info .only-select{
    width: 45px;
    height: 25px;
    padding-left:5px;
 }
.rest-selects,.rest-select{
 	width: 45px;
    height: 25px;
    padding-left:5px;
    color: #FFFFFF;
    text-decoration:none;
    float:right;
    background-color: #467B96;
    border-radius: 5px;
    border: 1px solid;
 }

.rest-selects:hover,.rest-select:hover{
	width: 45px;
    height: 25px;
    padding-left:5px;
    color: #FFFFFF;
    text-decoration:none;
    background-color: #1A5D7E;
    border-radius: 5px;
    float: right;
}