.new_div1{
     margin: auto;
     margin-bottom: 10px;
     width: 70%;
     margin-top: 80px;
 }
  .new_div1 .new_div1_span{
  	font-weight: bold;
  	font-size: 17px;
  }
  .committee_intro_span{
     margin-top:30px;
  }
  .new_div1 .add_list{
  	margin-left: 10px;
  	display:inline-block ;
  	width: 35px;
      height: 25px;
      line-height: 25px;
      padding-left: 5px;
      color: #FFFFFF;
      font-size: 14px;
      background-color: #467B96;
      border-radius: 5px;
      border: 1px solid;
      text-decoration: none;
  }
  .new_div2 p{
  text-indent: 2em;
  }
  .new_div2{
      width: 70%;
      margin: auto;  
      vertical-align: middle;
  }
 .update-userpassword-div{
	margin:20px auto;
	width:500px;
  
 }
 .update-userpassword-div input{
    border: 1px solid #D9D9D6;
	border-radius: 3px;
	width: 450px;
	height: 35px;
	margin-top:5px;
	margin-bottom:25px;
	font-size: 16px;
	padding-left: 5px;
 }
 
.update-password-btn{
	display:inline-block;
	color:#fff;
	background-color:#467B96;
	height:22px;
	width:65px;
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	text-decoration: none;
	border-radius:3px;
}
.update-password-btn:hover{
	display:inline-block;
	color:#fff;
	background-color:#1A5D7E;
	height:22px;
	width:65px;
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	text-decoration: none;
	border-radius:3px;
}
 /* WebKit browsers */
::-webkit-input-placeholder {
	color: #777;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #777;
}

.intro-show-div ul{
      margin-left:20px ;
  }
.intro-show-div ul li{
    clear:both;
	list-style-type: disc;
	padding-top: 5px;
	padding-bottom: 5px;
}
.new_div3{
    width: 70%;min-height: 115px;
    margin: auto;margin-top: 10px;
    background-color: white;
}
.new_div3 table{
    width: 100%;
    border-collapse: collapse;
}
.new_div3 table th{
    height: 50px;
    border-bottom: 2px aliceblue solid;
    text-align: left;
}
.new_div3 table td{
    height: 30px;
    border-bottom: 1px aliceblue solid;
}
 .new_div3 table td a{
	color: #467B96;
	text-decoration: none;
}
.new_div3 table td a:hover{
	color: #467B96;
	text-decoration: underline;
}
.new_div2_input{
    margin-top: 10px;
    float: left;
}
.new_div2 ul{
    padding: 0;
    list-style-type: none;
}
.new_div2 ul li{
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}
.new_div2 ul li a, .new_div2 ul li a:visited{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 60px;height: 25px;
    border-radius: 3px;
    line-height: 25px;
    background-color: #D6D6D6;
    font-size: 14px;
    color: #000000;
}
.new_div2 ul li ul{
    display: none;
    margin-top: -7px;
    margin-left: -5px;
}
.new_div2 ul li:hover ul{
    display: block;
    position: absolute;
    top: 31px;
    left: 0px
}
.new_div2 ul li:hover ul li a{
    display: block;
    background-color: gainsboro;
    color: #000;
}
.new_div2 ul li:hover ul li a:hover{
    background: #dfc184;
    color: #000;
}
.draft-span{
	display:inline-block;
	margin-left:5px;
	font-size:12px;
	padding-left:3px;
	padding-right:3px;
	background:#ECECEC;
	border-radius:3px;
	color:#666666;
}
.intro-draft{
	display:inline-block;
	margin-left:5px;
	font-size:15px;
	padding-left:3px;
	padding-right:3px;
	background:#D9D9D6;
	border-radius:3px;
	color:#666666;
}
.new_text{
    width: 200px;height: 25px;
    float: right;
    border: 1px solid #D9D9D6;
    padding-right: 5px;
    border-radius: 3px;
    margin-left:5px;
}
.new_text:focus{
	border:1px solid #2188FF;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    box-shadow:0 0 10px rgba(0, 204, 204, .5); 
}
.new_select{
    width: 80px;height: 30px;
    margin-left: 10px;margin-right: 10px;
    float: right;
    height: 27px;
}
.new_button{
    width: 50px;
    height: 30px;
    color: #FFFFFF;
    background-color: #467B96;
    border-radius: 5px;
    float: right;
    border: 1px solid;
    cursor: pointer;
}
.new_button:hover{
	 width: 50px;
    height: 30px;
    color: #FFFFFF;
    background-color: #1A5D7E;
    border-radius: 5px;
    float: right;
}
.clear{
    clear: both;
}

.instrument-list .details-content-table1{
	margin-left:0px;

}
.instrument-list .details-content-table1 td{
	text-align: center;
	float:left;
	margin-top:5px;
}
.instrument-list .details-content-table1 td span{
	display:block;
}
.instrument-list .details-content-table1 img{
	width: 150px;height: 200px;
	margin-left: 10px;margin-right: 10px;
}
/*��ҳ��ʽ*/
.pager {
	color:#666666;
}
.pager{ 
	text-align:center; 
	background:#f1f1f1; 
	padding:7px 0;
}
.pager a{ 
	margin:0 5px; 
	border:#6185a2 solid 1px; 
	display:inline-block; 
	padding:2px 6px 1px; 
	line-height:16px; 
	background:#fff; 
	color:#225599;
	text-decoration:none;
}
.pager a:hover{ 
	border:skyblue solid 1px; 	
}

/*气泡*/
.bubblemenu td{
	cursor:pointer;
}			            
.bubblemenu td > .bubb-image {
    min-width: 150px;
    white-space:normal;
    min-height: 100px;
	position: absolute;
    display: block;
    margin-left: 50px; 
    padding: 5px;
	visibility:hidden;
    opacity: 0;
    margin-top: -125px;
	background: #ffffff;
	font-size:1em;
				
	/* Setting the border-radius property for all Browsers */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    border-radius: 5px; /* Browsers that Support it like Opera */
				
	/* Setting the box-shadow property for all Browsers */
    -moz-box-shadow: 0 0 8px gray; /* Firefox */
    -webkit-box-shadow: 0 0 8px gray; /* Safari and Chrome */
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#272229', Direction=135, Strength=3); /* IE */
    box-shadow: 0 0 8px gray; /* Browsers that Support it like Opera */

	/* Setting the transition property for all Browsers */
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
    -webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out; /* Opera */
    transition: all 0.5s ease-in-out; /* Browsers that Support it */

				
}          			
.bubblemenu td:hover > .bubb-image{
	white-space:normal;
	visibility:visible;
	/* ��͸���� */
    opacity: 1;
    margin-top: -120px;				
	/* Setting the transition property for all Browsers */
	-moz-transition: all 0.5s ease-in-out; /* Firefox */
    -webkit-transition: all 0.5s ease-in-out; /* Safari and Chrome */
    -o-transition: all 0.5s ease-in-out;  /* Opera */
    transition: all 0.5s ease-in-out; /* Browsers that Support it */
    
}
.bubb-image img{
	width:150px;
	height:180px;
}

.main-div{
   margin: 0 auto;
   width:900px;
   margin-top:40px;	
}
.main-div .index-image-div{
	width:400px;
	height:200px;
	float:left;
	margin-top:20px;
}
.main-div .index-image-div:NTH-CHILD(even){
	margin-left:60px;
}
.main-div .index-image-div img{
	width:400px;
	height:200px;
}
.imgtext{
    z-index:1;
	margin-top:-32px;
    width:400px;
    height:auto;
    background:#000; 
    filter:alpha(opacity=80); /*IE*/
    -moz-opacity:0.8; /*MOZ , FF*/
    opacity:0.8; /*CSS3, FF1.5*/
}
.main-div .index-image-div button{
	border:1px solid;
	background: #FFFFFF;
	color:#000000;
	cursor: pointer;
    margin:5px 10px;
}



.apply-info{
	 margin: auto;
     margin-bottom: 10px;
     width: 70%;
     margin-top: 80px;
}
.apply-info .apply-time{
	display:block;
	margin-top:20px;
}

.apply-info .apply-time >a{
	margin-left: 10px;
  	display:inline-block ;
  	min-width: 35px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF;
    background-color: #467B96;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;

}
.apply-time >b{
	margin-left:10px;
}
.set-apply-time{
	margin-top:20px;
	color:#444444;
    display: none;
}
.set-apply-time label{
	display:block;

    margin-top:10px;
}
.set-apply-time input{
	width:260px;
	display: block;
	height:25px;
	margin-top: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	height:30px;
	padding-left:5px;
}
.set-apply-time input:focus{
	border:1px solid #2188FF;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    box-shadow:0 0 10px rgba(0, 204, 204, .5); 
}
.set-apply-time .submit,.reset{
	border: 1px solid #FFFFFF;
	min-width: 50px;
	height: 30px;	
	border-radius: 5px;

	color: #FFFFFF;
	cursor: pointer;

	margin-top:20px;
}
.set-apply-time .submit{
	background:#0088CC;
}
.set-apply-time .reset{
	margin-left:10px;
	color:#444444 !important;
	border: 1px solid #444444;
}
.date-div{
	width:260px;
	font-size:12px;
}
/**学生  气泡信息**/
 .tips{
	font-weight: bold;
	color:#444444;
	border-bottom: 1px dashed #CCCCCC;

	padding-bottom:5px;
}

.stu-info-display-left{
	
	color:#467BA2;
	float:left;
	border-right:1px dashed #CCCCCC; 
	padding-right:10px;
	width:200px;
}

.stu-info-display-right{
   color:#467BA2;
   margin-left:20px;
   float:left;
   width:200px;
 
}
.stu-info-display-left >div>span:FIRST-CHILD{
	color: #666666;
	white-space :nowrap;
}
.stu-info-display-left >div>span:NTH-CHILD(2){
	word-wrap:break-word;

}
.stu-info-display-right >div>span:FIRST-CHILD{
	color: #666666;
	white-space :nowrap;
}
.stu-info-display-right >div>span:NTH-CHILD(2){
	word-wrap:break-word;

}
/*弹窗*/
.mark{
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    z-index: 2222;
    display:none;
}
.dialog{
	display:none;
	border-radius:6px;
    position: fixed;
    left: 55%;
    top: 40%;
    width: 400px;
    margin:-135px 0 0 -250px;
    background: #fff;
    z-index: 2223;
}
.dialog .dialog-close{
    position: absolute;
    right: 7px;
    top: 10px;
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/close.png") no-repeat;
}
.dialog .dialog-title{
    height: 45px;
	color:#fff;
	border-radius:6px 6px 0px 0px;
    line-height: 45px;
    text-indent: 15px;
    background: #0F88EB;
}
.dialog .dialog-content{
    padding:38px 20px;
    font-size: 14px;
    min-height:100px;
}
.dialog-content .fail-reason{
	margin-top:10px;
	display: none;
}
.dialog-content .fail-reason >textarea{
	width:360px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	font-family: yahei;
	padding-top:5px;
	padding-left:5px;
	resize: none;
	
	
}
.dialog-content .fail-reason >textarea:FOCUS{
	border:1px solid #2188FF;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    -moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
    box-shadow:0 0 10px rgba(0, 204, 204, .5); 
}
.opt-div{
	margin-bottom:20px;
}
.opt{
	margin-top:10px;
}
.active{
border-top:1px solid #E5E5E5;

}
.active button{
    border: 1px solid #FFFFFF;
	min-width: 50px;
	height: 30px;	
	border-radius: 5px;
	margin-left: 10px;
	color: #FFFFFF;
	cursor: pointer;
	float:right;
	margin-top:15px;
}
.close{
color:#444444 !important;

}
.save{

background:#0088CC;
}
.status-tips{
	
	float:right;
	margin-right:440px;
	margin-top:-25px;
}
.status-tips >div{
	display: inline-block;
}
.status-tips >div>span:FIRST-CHILD {
	display:inline-block;
	width:15px;
	height:15px;
	position: relative;
	top:2px;
}
.status-tips >div>span:LAST-CHILD {
	margin-right:5px;
}

