           .new_div1{
                margin: auto;
                margin-bottom: 10px;
                width: 70%;
                margin-top: 80px;
            }
            .new_div1 .new_div1_span{
            	font-weight: bold;
            	font-size: 17px;
            }
            .new_div1 .add_list{
            	margin-left: 10px;
            	display:inline-block ;
            	width: 35px;
                height: 25px;
                line-height: 25px;
                padding-left: 5px;
                color: #FFFFFF;
                font-size: 14px;
                background-color: #467B96;
                border-radius: 5px;
                border: 1px solid;
                text-decoration: none;
            }
            .new_div2{
                width: 70%;
                margin: auto;  
                vertical-align: middle;
            }
          
            .new_div3{
                width: 70%;height: 400px;
                margin: auto;margin-top: 10px;
                background-color: white;
            }
            table{
                width: 100%;
                border-collapse: collapse;
            }
            th{
                height: 50px;
                border-bottom: 2px aliceblue solid;
                text-align: left;
            }
            td{
                height: 30px;
                border-bottom: 1px aliceblue solid;
            }
            td a{
            	color: #467B96;
            	text-decoration: none;
            }
            td a:hover{
            	color: #467B96;
            	text-decoration: underline;
            }
            .new_div2_input{
                margin-top: 10px;
                float: left;
            }
            .new_div2 ul{
                padding: 0;
                list-style-type: none;
            }
            .new_div2 ul li{
                float: left;
                position: relative;
                margin-top: 5px;
                margin-left: 5px;
            }
            .new_div2 ul li a, .new_div2 ul li a:visited{
                display: block;
                text-align: center;
                text-decoration: none;
                width: 60px;height: 25px;
                border-radius: 3px;
                line-height: 25px;
                background-color: #D6D6D6;
                font-size: 14px;
                color: #000000;
            }
            .new_div2 ul li ul{
                display: none;
                margin-top: -7px;
                margin-left: -5px;
            }
            .new_div2 ul li:hover ul{
                display: block;
                position: absolute;
                top: 31px;
                left: 0px
            }
            .new_div2 ul li:hover ul li a{
                display: block;
                background-color: gainsboro;
                color: #000;
            }
            .new_div2 ul li:hover ul li a:hover{
                background: #dfc184;
                color: #000;
            }
            .new_text{
                width: 200px;height: 25px;
                float: right;
                border: 1px solid #D9D9D6;
                padding-left: 5px;
            }
            .new_select{
                width: 80px;height: 30px;
                margin-left: 10px;margin-right: 10px;
                float: right;
                height: 27px;
            }
            .new_button{
                width: 50px;
                height: 30px;
                color: #FFFFFF;
                background-color: #467B96;
                border-radius: 5px;
                float: right;
                border: 1px solid;
            }
            .new_button:hover{
            	 width: 50px;
                height: 30px;
                color: #FFFFFF;
                background-color: #1A5D7E;
                border-radius: 5px;
                float: right;
            }
.clear{
    clear: both;
}